.container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
    grid-gap: 16px;
    background-color: rgb(17, 17, 17);
    
}

.sub-container{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 200px 200px 200px 200px;
    background-color: rgb(17, 17, 17);
    
}


.cards{
    border: 1px black solid;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: linear-gradient(to bottom right,rgb(95, 3, 3), rgb(0, 0, 0));
    height: 400px;
    text-align: center;

}

.font{
    text-decoration: none;
    font-weight: 550;
    font-size: 20px;
}


.buttonContainer{
    padding: 20px 0px;
}

.button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: rgb(255, 255, 255)
}

.add {
    background-color: #007bff;
    color: white;
}


.inputParent{
    padding: 10px 0px;
}

.form{
    width: 50%
}

.input{
    width: 100%
}

.cancel{
    background-color: red;
    color: white;
}

.submit{
    background-color: #007bff;
    color: white;
}

.cardButtonsParent{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.removeFormMargin{
    margin: 0; 
}

.font{
    color: rgb(186, 185, 185)
}

.link{
    color: rgb(0, 0, 0);
    font-weight: 600;
}

#ep-num {
    font-weight: bold;
    text-decoration: underline;
}

#ep-name{
  grid-column: 1 / span 3;
  grid-row: 1 / span 4;
  color: white
}

#img{
 grid-column: 1 / span 2;
  grid-row: 2 / span 4;
}