<h2 class="p-3 text-center border border-light">Login!</h2>
<form class="text-center" action="/user/login" method="POST">
    <div class="my-3">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div class="my-3">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button class="mt-4 btn btn-primary" type="submit">Login</button>
</form>
<a class="mt-4 btn btn-primary" href="/user/register">Register</a>