
<body>
    <div class="container ">
        <% episodes.forEach(episode=> { %>
            <div class="cards  ">
                <h2 class="font text-white" id="ep-num">Episode <%=episode.episodeNumber %>
                </h2>
                <div class="font text-white">
                    <%=episode.name %>
                </div>
                <input type="image" src="<%=episode.img %>" name="saveForm" class="btTxt img submit text-white" id="saveForm" />
                <a class="btn btn-primary text-white "href="/<%=episode.episodeNumber %>">Discuss here!</a>
            </div>

            <% }) %>
    </div>
</body>
