<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="styles.css" />
    </head>

    <body>
        <div class="container">
            <% episodes.forEach(episode=> { %>
                <div class="cards">
                    <h2 class="font" id="ep-num">Episode <%=episode.episodeNumber %>
                    </h2>
                    <div class="font">
                        <%=episode.name %>
                    </div>
                    <input type="image" src="<%=episode.img %>" name="saveForm" class="btTxt img submit" id="saveForm" />
                    <a class='link button'href="/<%=episode.episodeNumber %>">Discuss here!</a>
                </div>

                <% }) %>
        </div>
    </body>

</html>